html, body {
  margin: 0;
  padding: 0; }

a {
  /* should be $blue, as defined in _variables.scss */
  color: #006DCC; }
  a .branded {
    /* should be $brand-color as defined in whitelable.json - brandColor */
    color: #f4982e; }
